

.bbb{ color: brown;}
h1{color: rgb(5, 5, 105); background-color: rgb(119, 119, 231); border-radius: 50px; border: 3px; text-align: center; }
h3{color: rgb(35, 95, 35);background-color: yellow; text-align: center;}
h2{color: green;}
img{text-align: center;}
h4{color: green;}
.poop{color: rgb(14, 14, 14);}
button{ width: 200px; height: 30px ; background-color: rgb(108, 108, 254); color: white; }
.ddd{background-color: green;}
.hhh{
    background-color: blue;
}
  .green {
  background: green;
  color: white;
  width: 100px;
}

.blue {
  background: blue;
   color: white;
   width: 500px;
}

.red {
  background: red;
   color: white;
}

.black {
  background: black;
   color: white;
}

/* Responsiv (mobil) */
@media (max-width: 600px) {
  .images img {
    width: 90%;
  }
  .video-frame iframe {
    width: 90%;
    height: 250px;
  }
}
 .lol{
    width: 456px; height: 36px;
 }














